<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup Success</title>
  </head>
  <body>
    <h1>Congratutation!</h1>
    <a href="/signin">Sign in</a>
  </body>
</html>
